html {

    background-size: cover;
    max-width: 100%;
}

body {

    background-image: url("/assets/chebichat_design/Mascot design - background.png");

    background-color: #fff;

    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media screen {
    html, body {
        /*height: 100vh;*/
        height: 100%;
    }
}

.taobao_iframe {
    width: 100%;
    height: 500px;
}

.place_img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    float: left;
}

.place_infowindow {
    /*min-width: 300px;*/
}

.sim_speak {
    /*color: orange;*/
}

.collection .collection-item {
    background: none;
}

#dimmer {
    background: #000;
    position: absolute;
    top: 50px;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    display: none;
    z-index: 98;
}

.dummy {
    display: none;
}

.titlebar {
    background-color: rgba(255,255,255,0.8);
    font-size: 11pt;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.title-container {
    /*padding: 6px;*/
    /*font-size: 1.5em;*/
    /*color: white;*/
}

.title-text {
    text-align: center;
}

.config-icon {
    right: 10px;
    top: 5px;
    float: right;
    position: fixed;
    font-size: 1.5em;
    text-align: right;
    cursor: hand;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#config-menu {
    background: #32353f;
    top: 50px;
    position: absolute;
    width: 100%;
    opacity: 0.8;
    display: none;
    z-index: 99;
}

.chat_input {

    position: fixed;
    width: 100%;
    z-index: 1000;
    bottom: -2%;

}

.config-li {
    color: white;
    text-align: center;
    line-height: 3.5em;
    border-bottom: 1px solid #666;
    cursor: hand;
}

.chatroom {

    padding: 5px;
    /*background: white;*/
}

.chat_simi {
    width: 100%;
    clear: both;
}

.chat_user {
    width: 100%;
    clear: both;
    text-align: right;
}

.bubble {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid;
    border-radius: 15px;
    padding: 3px 10px;
    margin-bottom: 2px;
    display: inline-block;
    /*max-width:50%;*/
}


.typing_ani {
    content: url('../image/typing_ani.gif');
    width: 15px;
}

.chat_simi .bubble {
    border-top-left-radius: 5px;
    margin-top: 22px;
    margin-left: 5px;
}

.chat_user .bubble {
    border-top-right-radius: 5px;
}

.chat_simi_icon {
    float: left;
    content: url('../image/ic_chat_bubble_simsimi.png');
    width: 60px;
    height: 53px;
}

.chat_user_icon {
    float: right;
    content: url('../image/ic_chat_bubble_simsimi.png');
    width: 60px;
    height: 53px;

}

.chebi_avatar {
    float: left;
    width: 70px;
    height: 70px;
    /*border: solid 2px #ff9800;*/
}

.user_avatar {
    float: right;
    width: 50px;
    height: 50px;
}

#zone_stone {
    margin-top: 10px;
}

.stone {
    background-color: white;
    color: #0084FF;
    text-align: center;
    border: 1px solid #0084FF;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 2px;
    display: inline-block;
    max-width: 50%;
}

.stone:hover {
    background-color: #0084FF;
    color: white;
}

.chat_sysmsg {
    font-size: 0.7em;
    text-align: center;
    color: #32353f;
    background-color: white;
    border: 1px dotted #32353f;
    border-radius: 10px;
    padding: 3px 10%;
}

.contents {
    background-color: #FFF;
    padding: 0px 5%;
    background-size: 70%
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]) {
    box-shadow: none;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    height: 1em;
}

[type="radio"]:checked + label:after {
    border: 2px solid #999;
    background-color: #999;
}

[type="radio"]:not(:checked) + label:before {
    border: 2px solid #ccc;
}

.word-red {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #d80000;
}

.word-orange {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #f39c12;
}

.word-yellow {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #f1c40f;
}

.word-green {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #2ecc71;
}

.word-blue {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #039aff;
}

.word-grey {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #eee;
}

.row {
    margin-bottom: 0px;
}

/* 안주면 여백생김 */
/*.row .col.s12 {
    padding-left: 0.0rem !important;
    padding-right: 0.0rem !important;
}*/

#reqText::-webkit-input-placeholder {
    font-weight: 300;
}

input:-moz-placeholder {
    color: #f00;
}

/*sentiment*/
i.s-medium {
    font-size: 3rem;
}
.sentiment-row .col {
    padding: 0px;
}

/*STROKE*/
.stroke img {

    width: 70px;
}