.chebi-action-btn {
    position: absolute;
    bottom: 10px;
}
.chebi-action-simi .fixed-action-btn {

    left: 40px;

}
.test{

 left: -200px;

}
.chebi-chat-btn li {
    margin: 15px 2px 0 0;
}
#pac-input {
    /*height: 0px;*/
}
#map {
    /*width: 0px;*/

    height: 0px;
}
rt {
    font-size: 10pt;
    padding: 5px;
}