.infobox {
    float: right;
}
.vcard {
    float: left;
}
.mw-parser-output, .mw-parser-output p, .mf-section-0 p {

    text-align: left;
}
.metadata,.plainlinks,.ambox,.ambox-style {
    display: none;
}
.thumb,.tright {
    display: none;
}