<!--TEMPLATE-->
<script id="tour" type="x-tmpl-mustache">

<h3> Giới thiệu <br/> ({{景点}})
</h3>
<div style="text-align:left;" id="noidung"> {{内容}}</div>


<table class="table table-striped" style="text-align: left;">
    <thead>
    <tr>
        <td>Tên</td>
        <td>Thông tin</td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Gio mở cửa</td>
        <td>{{开放时间}}</td>
    </tr>

    <tr>
        <td>Địa phận </td>
        <td>{{省份}} - {{地区}}</td>
    </tr>
    <tr>
        <td>Hướng dẫn chỉ đường</td>
        <td>{{交通指南}}</td>
    </tr>

    <tr>
        <td>Giá vé</td>
        <td>{{门票价格}}</td>
    </tr>

    <tr>
        <td>Mùa thích hợp du lịch</td>
        <td>{{最佳时间}}</td>
    </tr>

    <tr>
        <td>Liên hệ</td>
        <td>{{联系方式}}</td>
    </tr>
    <tr>
        <td>Điện thoại hỗ trợ</td>
        <td>{{投诉电话}}</td>
    </tr>


    </tbody>
</table>






</script>


<!--FOOD-->
<script id="food" type="x-tmpl-mustache">

<h1>{{Title}} </h1>

<h3 style="text-align: left;"> Nguyên liệu chuẩn bị </h3>
<p>
    ({{Material}})
</p>

<h3 style="text-align: left;"> Hướng dẫn cách chế biến </h3>
<p>
    ({{Method}})
</p>





</script>


<!--IDIOM-->
<script id="idiom" type="x-tmpl-mustache">

<h1>{{Title}} </h1>

<h3 style="text-align: left;"> Giải nghĩa thành ngữ </h3>
<p>
    ({{explain}})
</p>

<h3 style="text-align: left;"> Nguồn gốc - điển tích </h3>
<p>
    ({{cyfrom}})
</p>
