.Tiengtrung h1,h3 {
    text-align: center;
}

.Tiengtrung .config {
    width: 680px;
    height: 135px;
    float: left;
}

.Tiengtrung .config .config-sex {
    width: 180px;
    height: 95px;
    margin-left: 40px;
    margin-top: 0;
    float: left;
}

.Tiengtrung .config .config-sex span {
    height: 23px;
    width: 65px;
    border: 2px solid #dcdcdc;
    font-size: 12px;
    border-radius: 17px;
    display: block;
    text-align: center;
    line-height: 19px;
    float: left;
    margin-left: 12px;
    cursor: pointer;
}

.Tiengtrung .config .config-sex span.item-active {
    border-color: #0362ff;
    -webkit-box-shadow: 0 2px 6px 0 #0362ff;
    -moz-box-shadow: 0 2px 6px 0 #0362ff;
    box-shadow: 0 2px 6px 0 #0362ff;
}

.Tiengtrung .config .config-sex .common-text {
    font-size: 12px;
    float: left;
    width: 180px;
    margin-left: 13px;
    margin-bottom: 6px;
}

.Tiengtrung .config .config-sex .emotion-text {
    font-size: 12px;
    float: left;
    width: 180px;
    margin-left: 13px;
    margin-top: 15px;
    margin-bottom: 6px;
}

.Tiengtrung .config .config-sex .act {
    color: #006aff;
}

.Tiengtrung .config .config-speed {
    width: 65px;
    height: 135px;
    margin-left: 45px;
    float: left;
}

.Tiengtrung .config .config-speed .speed-box {
    height: 30px;
    width: 65px;
    border: 2px solid #dcdcdc;
    font-size: 12px;
    border-radius: 17px;
    text-align: center;
    line-height: 27px;
    float: left;
    color: #7c7c7c;
    margin-top: 40px;
}

.Tiengtrung .config .config-speed .speed-box .left {
    height: 30px;
    width: 15px;
    float: left;
    cursor: pointer;
}

.Tiengtrung .config .config-speed .speed-box .right {
    height: 30px;
    width: 15px;
    float: left;
    cursor: pointer;
}

.Tiengtrung .config .config-speed .speed-box span {
    width: 28px;
    float: left;
}

.Tiengtrung .config .play {
    width: 285px;
    height: 135px;
    float: left;
}

.Tiengtrung .config .play .playbtn {
    background: url(img/control.png) no-repeat 4px;
    height: 79px;
    width: 79px;
    cursor: pointer;
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 51px;
}

.Tiengtrung .config .play .playbtn:hover {
    background: url(img/control.png) no-repeat -82px;
}

.Tiengtrung .config .play .playbtn.pause-btn {
    background: url(img/control.png) no-repeat -166px;
}

.Tiengtrung .config .play .playbtn.pause-btn:hover {
    background: url(img/control.png) no-repeat -246px;
}

.Tiengtrung .config .volicon {
    width: 30px;
    height: 95px;
    float: left;
    background: url(img/vol.jpg) no-repeat;
    margin-top: 38px;
}

.Tiengtrung .config .vol-box {
    width: 120px;
    height: 135px;
    float: left;
}

.Tiengtrung .config .vol-box .vol-config {
    width: 100px;
    height: 15px;
    position: relative;
    cursor: pointer;
    margin-top: 50px;
}

.Tiengtrung .config .vol-box .vol-config .vol-bg {
    height: 3px;
    background-color: #edf1f2;
    border-top: 1px solid #dadedf;
    width: 100px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 3px;
}

.Tiengtrung .config .vol-box .vol-config .vol-bar {
    height: 4px;
    background-color: #a6a6a6;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 2;
    width: 50%;
}

.Tiengtrung .config .vol-box .vol-config .vol-handle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #a6a6a6;
    position: absolute;
    left: 50%;
    top: 1px;
    z-index: 3;
}